:root {
  --color-default-light-10: #ffffff;
  --color-default-light-20: #f2f2f2;
  --color-default-light-30: #cacaca;
  --color-default-light-40: #b0b0b0;
  --color-default-light-50: #969696;
  --color-default-light-60: #7b7b7b;
  --color-default-light-70: #616161;
  --color-default-dark-80: #474747;
  --color-default-dark-90: #2c2c2c;
  --color-default-dark-100: #121212;
  --color-primary-blue: #09ced0;
  --color-primary-pink: #eb204f;
  --color-logo: #e21818;
  --color-logo-alt: #00b917;
}
