.typography-search-section {
  padding-top: 4px;
  padding-bottom: 40px;

  @media screen and (min-width: 1200px) {
    padding-top: 20px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 20px;
  }
}

.typography-section {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  padding: 0 16px;
  padding-bottom: 46px;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding: 0 30px;
    padding-bottom: 37px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1400px;
    padding: 0 20px;
    padding-bottom: 73px;
  }

  & h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: (39.6px/36px);
    padding-bottom: 18px;

    @media screen and (min-width: 1200px) {
      font-size: 80px;
      font-weight: 700;
      line-height: 1.1;
      padding-bottom: 30px;
    }
  }

  & hr {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 auto;
    background: linear-gradient(
      360deg,
      #5a039e 2.67%,
      #a60543 39.64%,
      #ac0812 76.62%,
      #db3c19 97.31%
    );
    border: none;
    position: relative;
    overflow: visible;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: -149px;
      transform: translateY(-50%);
      height: 5px;
      border-radius: 5px;
      width: 133px;
      background: linear-gradient(
        273.24deg,
        #5a039e 2.67%,
        #a60543 39.64%,
        #ac0812 76.62%,
        #db3c19 97.31%
      );

      @media screen and (min-width: 768px) {
        right: -339px;
        width: 323px;
      }

      @media screen and (min-width: 1280px) {
        right: -665px;
        width: 652px;
      }
    }

    &::after {
      right: auto;
      left: -149px;
      transform: rotate(180deg) translateY(50%);

      @media screen and (min-width: 768px) {
        left: -339px;
      }

      @media screen and (min-width: 1280px) {
        left: -665px;
      }
    }
  }

  & h2 {
    font-size: 30px;
    font-weight: 600;
    line-height: (33px/30px);
    padding-top: 19px;
    padding-bottom: 16px;

    @media screen and (min-width: 1200px) {
      font-size: 64px;
      line-height: (70.4px/64px);
      padding-top: 32px;
      padding-bottom: 24px;
    }
  }

  & strong {
    font-weight: 700;
    font-size: 14px;
    line-height: (19.6px/14px);

    @media screen and (min-width: 1200px) {
      line-height: (22.4px/16px);
      font-size: 16px;
    }
  }

  & h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: (22px/20px);
    padding-top: 14px;
    padding-bottom: 14px;

    @media screen and (min-width: 1200px) {
      font-size: 46px;
      line-height: (50.6px/46px);
      padding-top: 24px;
      padding-bottom: 18px;
    }
  }

  & marquee {
    animation: marquee 10s linear infinite;
    font-size: 16px;
    font-weight: 600;
    line-height: (19.2px/16px);
    background: transparent;
    display: block;
    width: 100%;
    padding: 8px;
    background: linear-gradient(
      90deg,
      #db3c19 0%,
      #a60543 25%,
      #5a039e 50.14%,
      #a60543 75%,
      #db3c19 100%
    );

    @media screen and (min-width: 1200px) {
      font-size: 24px;
      line-height: (28.8px/24px);
    }

    @media screen and (min-width: 1200px) {
      padding: 15px;
    }
  }

  & h4 {
    font-size: 18px;
    font-weight: 600;
    line-height: (21.6px/18px);
    padding-top: 14px;
    padding-bottom: 12px;

    @media screen and (min-width: 1200px) {
      font-size: 36px;

      line-height: (43.2px/36px);
      padding-top: 19px;
      padding-bottom: 13px;
    }
  }

  & u {
    font-size: 14px;
    font-weight: 400;
    line-height: (19.6px/14px);
    padding-bottom: 7px;
    text-decoration: underline;
    display: block;

    @media screen and (min-width: 1200px) {
      font-size: 16px;
      line-height: (22.4px/16px);
    }
  }

  & i {
    font-style: italic;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: (19.6px/14px);
    display: block;

    @media screen and (min-width: 1200px) {
      font-style: normal;
      text-decoration: underline;
    }
  }

  & img {
    padding: 16px 0;
    padding-bottom: 20px;

    @media screen and (min-width: 1200px) {
      padding: 16px 0;
    }
  }

  & ul,
  & ol {
    list-style-type: initial;
    font-family: "Exo 2", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: (19.6px/14px);
    padding-left: 20px;
    padding-bottom: 8px;

    @media screen and (min-width: 1200px) {
      font-family: Inter, sans-serif;
      font-size: 14px;
      font-weight: 500;
      line-height: (21px/14px);
      padding-left: 20px;
    }
  }

  & ol {
    list-style-type: decimal;
    margin: 0;
    padding-top: 1px;
  }

  & h5 {
    font-size: 17px;
    font-weight: 500;
    line-height: (20.4px/17px);
    padding-top: 4px;
    padding-bottom: 10px;

    @media screen and (min-width: 1200px) {
      font-size: 30px;
      font-weight: 500;
      line-height: (36px/30px);
      padding-top: 6px;
      padding-bottom: 10px;
    }
  }

  & a {
    font-size: 14px;
    font-weight: 400;
    line-height: (19.6px/14px);
    color: #666cff;
    padding-bottom: 8px;

    @media screen and (min-width: 1200px) {
      font-size: 16px;
      font-weight: 500;
      line-height: (22.4px/16px);
    }
  }

  & h6 {
    font-size: 16px;
    line-height: (19.2px/16px);
    padding-top: 6px;
    padding-bottom: 2px;

    @media screen and (min-width: 1200px) {
      font-size: 24px;
      font-weight: 600;
      line-height: (28.8px/24px);
      padding-top: 5px;
      padding-bottom: 0;
    }
  }

  & table {
    margin-top: 24px;
    width: 850px;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid var(--color-default-light-10);
    border-radius: 10px;

    @media screen and (min-width: 1200px) {
      width: 100%;
    }
  }

  & td,
  & th {
    border: 1px solid var(--color-default-light-10);
  }

  & thead tr th {
    border-top: none;
    border-bottom: none;
    border-left: none;

    &:last-child {
      border-right: none;
    }
  }

  & tbody tr td {
    border-bottom: none;
    border-left: none;

    &:last-child {
      border-right: none;
    }
  }
  & th {
    font-size: 16px;
    font-weight: 500;
    line-height: (19.2px/16px);
    text-align: center;
    padding: 17px;

    @media screen and (min-width: 1200px) {
      font-size: 28px;
      font-weight: 500;
      line-height: (33.6px/28px);
      padding: 9px;
    }
  }

  & td {
    font-size: 14px;
    font-weight: 400;
    line-height: (19.6px/14px);
    text-align: center;
    padding: 16px;

    @media screen and (min-width: 1200px) {
      font-size: 16px;

      line-height: (22.4px/16px);

      padding: 15px;
    }
  }
}
